html {
  scroll-behavior: smooth;
}
#header {
  background: url("https://images.pexels.com/photos/255464/pexels-photo-255464.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  margin-top: 5.7%;
  padding-top: 12%;
  padding-bottom: 19.6%;
}

body {
  font-family: "Righteous", cursive;
  color: black;
}

.username {
  text-decoration: none;
  color: #000;
}
.username:hover {
  text-decoration: none;
  color: #000;
}

.navbar {
  background-color: black;
  color: white;
}

.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}

.jumbotron {
  color: #fff;
}

.itemNav {
  padding: 15px;
}
.gallery-head {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
}
.lead {
  font-size: 1.5rem;
}
.display-3 {
  font-size: 8rem;
}
.gallery-icon {
  color: #fff;
  text-align: center;
}
.backToTop {
  margin-left: 49%;
  color: #000000;
  padding: 0.6%;
  border-radius: 50%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #ccc;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}